PyAudio
speech-recognition-fork==3.8.1.2020.12.6
certifi==2020.12.5
chardet==3.0.4
idna==2.10
ifaddr==0.1.7
lxml==4.6.2
nanodlna
netdisco==2.8.2
peewee==3.14.0
pocketsphinx==0.1.15
prompt-toolkit==3.0.8
#pyalsaaudio==0.9.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-vlc
pyttsx3==2.71
rapidfuzz
requests==2.25.0
setuptools==50.3.2
six==1.15.0
git+https://github.com/avryhof/tts-wrapper.git@pyttsx
uPnPClient==0.0.8
urllib3==1.26.5
wcwidth==0.2.5
zeroconf==0.28.6