PyAudio==0.2.11
SpeechRecognition==3.8.1
certifi==2020.6.20
chardet==3.0.4
idna==2.10
ifaddr==0.1.7
lxml==4.6.1
nanodlna
netdisco==2.8.2
peewee==3.13.3
pip==20.2.4
pocketsphinx==0.1.15
prompt-toolkit==3.0.8
pyalsaaudio==0.9.0
pyparsing==2.4.7
python-dateutil==2.8.1
pyttsx3==2.90
rapidfuzz
requests==2.24.0
setuptools==50.3.2
six==1.15.0
uPnPClient==0.0.8
urllib3==1.25.10
wcwidth==0.2.5
zeroconf==0.28.6